* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
}

span {
  display: flex;
  margin-right: auto;
  margin-left: 8px;
}

header nav {
  margin-right: 8px;
}
